@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');

.card {
    box-shadow: 0 55px 55px 0 rgba(0,0,0,0.2);
    background:rgb(255, 255, 255);
    height: fit-content;
    width: fit-content;
    padding: 25px;
    border-radius: 25px;
}

div {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
